.login-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;  
  background: linear-gradient(135deg, #800020 10%, #ff6b6b 90%);
  font-family: Arial, sans-serif;
}

/* Resto de los estilos se mantienen igual */
.login-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .input-container {
    width: 100%; /* Asegura que el contenedor no exceda el ancho del formulario */
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .input-container input {
    width: 100%; 
    padding: 12px 12px 12px 35px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    margin: 5px auto; 
  }
  
  .input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #c31432;
  }
  
  .forgot-password {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #c31432;
    font-size: 14px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #c31432, #240b36);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .login-button:hover {
    background: linear-gradient(to right, #240b36, #c31432);
  }